*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:420px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(107, 13, 13, 0.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

input{
    width:70%;
    padding:12px;
    font-size:16px;
}

button{
    width:25%;
    padding:12px;
    background:#28a745;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#218838;
}

ul{
    list-style:none;
    margin-top:20px;
}

li{
    background:#eeeeee;
    padding:12px;
    margin-top:10px;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

li:hover{
    background:#dddddd;
}